body {
background-image: url("sakura.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

#wf-hannari {
  font-family: "Hannari";
}



.sunobo{
  height: 300px;
  width: 400px;
}

.ramen{
  height: 300px;
  width: 400px;
}

#menu{
  text-align: center;
}
#mn{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
